#!/usr/bin/env bash

PROJECT_DIR="$(pwd)"

PATH_add ${PROJECT_DIR}
PATH_add ${PROJECT_DIR}/node_modules/.bin

export NODE_ENV=development

# Load local env variables if they defined
if [ -e .env ]; then
  source .env
fi
